!!!5

%html
	%head
		%link(rel="stylesheet" type="text/css" href="main.css")
		%title Explore.
	%body
		%h1 Group Explore Emulator
		#content
			#login_button
				/ = link_to image("images/connect-black@2x.png"), locals[:connect_url]
				%a{:href=>'https://foursquare.com/oauth2/authenticate?client_id=EA2IBQTZ44BZZOFZSH4NRIK5NWNL0EINW3KOTTPFCYD4J4L2&response_type=code&redirect_uri=http://explore-emulator.herokuapp.com'}
					%img{:src=>'images/foursquare-button.png'}